---
import BaseLayout from '@layouts/Base.astro';
import HeroForm from '@components/homepage/HeroForm.astro';
import TempDisabled from '@/components/homepage/TempDisabled.astro';
import HomeBackground from '@/components/homepage/HomeBackground';
import AboutSection from '@/components/homepage/AboutSection.astro';
import Footer from '@components/scafold/Footer.astro';

const isBossServer = import.meta.env.BOSS_SERVER === 'true';
const disableEverything = import.meta.env.VITE_DISABLE_EVERYTHING === true;
---

<BaseLayout>
  <Fragment slot="head">
    {!isBossServer && <meta http-equiv="refresh" content="0; url=/check" />}
  </Fragment>
  {disableEverything && <TempDisabled />}
  <main>
    <HeroForm />
    <AboutSection />
  </main>
  <Footer />
  <HomeBackground client:only="react" />
</BaseLayout>

<style lang="scss">
  @use '@styles/global.scss' as *;
  main {
    position: relative;
    z-index: 3;
  }
</style>
